<body>
  <div id="app">
    <nav class="navbar navbar-expand justify-content-end fixed-top">
      <ul class="navbar-nav">



        <li class="nav-item">
          <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
        </li>
        <li class="nav-item">
          <a
            href="/login"
            class="nav-link"
            routerLink="login"
            [hidden]="isLoggedIn"
            >Login</a
          >
        </li>
        <li class="nav-item" [hidden]="!isLoggedIn">
          <a href="" class="nav-link" (click)="logout()">LogOut</a>
        </li>


        <li class="nav-item">
          <a href="/profile" class="nav-link" routerLink="profile">View Profile</a>
        </li>

        <li class="nav-item">
          <a href="/summary" class="nav-link" routerLink="summary">Account Summary</a>
        </li>

        <li class="nav-item">
          <a href="/summary" class="nav-link" routerLink="summary">Account Summary</a>
        </li>
      </ul>
    </nav>
  </div>

  <footer class="footer py-4 fixed-bottom text-center" style="background-color: white;">
    <div class="container-fluid fle">
      <img style="max-width: 12em;" src="../assets/img/rev-logo.png" />
    </div>
  </footer>

</body>
<router-outlet></router-outlet>
<!-- <app-user-profile></app-user-profile> -->
