<body>
  <div id="app">
    <nav class="navbar navbar-expand fixed-top">
      <div class="container-fluid">
        <h2 class ="nav-link">Revature Credit Union</h2>
      </div>
      <div class="container-fluid justify-content-end">
        <ul class="navbar-nav justify-content-center">
          <li class="nav-item">
            <a href="/register" class="nav-link" routerLink="register" [hidden] = "isLoggedIn">
              <button class="btn btn-sm btn-outline-secondary btnlinkcolor" type="button">Sign Up</button></a>
          </li>
          <li class="nav-item">
            <a
              href="/login"
              class="nav-link"
              routerLink="login"
              [hidden]="isLoggedIn"
              ><button class="btn btn-sm btn-outline-secondary btnlinkcolor" type="button">Login</button></a
            >
          </li>
          <li class="nav-item" [hidden]="!isLoggedIn">
            <a href="" class="nav-link" (click)="logout()">
              <button class="btn btn-sm btn-outline-secondary btnlinkcolor" type="button">Logout</button></a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</body>
<router-outlet></router-outlet>
<!-- <app-user-profile></app-user-profile> -->
