<div class = transactions>
    <!-- The idea is that on window load, several HTTP requests to the backend will
    be called, these are simply "get Transactions by User ID type" requests, and
    then ideally the results would be put into these tables, right now I'm trying
    to figure out how that's done -->
    <div id = "depositsTable">
        <table>
            <tr>
                <th>TransactionID</th>
                <th>Account</th>
                <th>Amount</th>
            </tr>
        </table>
    </div>
    
    <div id = "withdrawalsTable">
        <table>
            <tr>
                <th>TransactionID</th>
                <th>Account</th>
                <th>Amount</th>
            </tr>
        </table>
    </div>
    
    <div id = "transfersTable">
        <table>
            <tr>
                <th>TransactionID</th>
                <th>Account</th>
                <th>Amount</th>
            </tr>
        </table>
    </div>
</div>
