.container{
    padding-top: 5%;
}

h2.title{
    position: relative;
    text-align: center;
}

.editingInfo{
    position: absolute;
    top: 10rem;
    bottom: 10rem;
    left: 0;
    right: 0;
    margin: auto;
    width: 20rem;
    height: auto;  
    box-shadow: rgb(3, 3, 3);
    z-index: 9;
    color: white;
    background-color: rgba(63, 60, 60, 0.479);
    border-radius: 8px;
    padding-top: 10px;
    padding-left: 10px;
}

input.inputs{
    margin-left: 10px;
    margin-top: 5px;
    
}

.submitbtn{
    padding-right: 5px;
    margin-right:5px;
    margin-top: 1rem;
}

.closebtn{
    margin-right:5px;
    margin-top: 1rem;
}

.editbtn{
    color: black;
    background-color: gray;
    border-style: none;
    border-color: orange;
}

.editbtn:hover{
    background-color: var(--orange);
    color: white;
}

.editbtn span::after{
  content: '\270E';
  position: relative;
  opacity: 1;
  top: 0;
  right: -5px;
}

  