<div class="container">
  
  <div class="row justify-content-center">
    <div class="col-10">
      <app-user-profile></app-user-profile>
    </div>    
  </div> 
  <div class="row justify-content-center">
    <div class="col-10">
      <app-security-profile></app-security-profile>
    </div>
  </div> 
  <div class="row justify-content-center">
    <div class="col-10">
      <app-account-settings></app-account-settings>
    </div>
  </div> 
</div>

<br>
<br>
<!--<app-user-profile></app-user-profile>-->
<!-- <app-security-profile></app-security-profile>-->
<!--<app-account-settings></app-account-settings>-->