<br>
<br>
<br>
<div class = "TransactionForm">
    <form (submit) = "enactTransaction()">
        <p>Please select your account.</p>
        <div [formGroup] = "accountGroup">
            <select formControlName = "selectedAccount" [(ngModel)]="selectedAccount">
                <option *ngFor = "let account of accounts" [ngValue]="account" (change) = "changeAccount(account)">
                    {{account.accountId}} {{account.balance}}</option>
            </select>
        </div>
        <br>

        <p>Please select your type of transaction.</p>
        <input type = "radio" id = "deposit" name = "transaction" required
        (change) = "changeTransaction(1)">
        <label for = "deposit">Deposit</label><br>
        <input type = "radio" id = "withdrawal" name = "transaction"
        (change) = "changeTransaction(2)">
        <label for = "withdrawal">Withdraw</label><br>
        
        <br>

        <p>Please select your amount.</p>
        <label>Amount: </label>
        <input type = "text" [(ngModel)] = "amount" name = "amount">

        <input type = "submit">
    </form>
</div>