<div class = "TransactionForm">
    <form (submit) = "enactTransaction()">
        <p>Please select your account.</p>
        <table class = "accounts">
            <thead>
                <th></th>
                <th>Account ID</th>
                <th>Balance</th>
            </thead>

            <tbody>
                <tr *ngFor="let account of accounts"></tr>
                <td>
                    <input type = "radio" (change) = "changeAccount(account)">
                </td>
                <td>{{account.accountId}}</td>
                <td>{{account.balance}}</td>
            </tbody>
        </table>
        <br>

        <p>Please select your type of transaction.</p>
        <input type = "radio" id = "deposit" name = "transaction" required
        (change) = "changeTransaction(1)">
        <label for = "deposit">Deposit</label><br>
        <input type = "radio" id = "withdrawal" name = "transaction"
        (change) = "changeTransaction(2)">
        <label for = "withdrawal">Withdraw</label><br>
        
        <br>

        <p>Please select your amount.</p>
        <label>Amount: </label>
        <input type = "text">

        <input type = "submit">
    </form>
</div>