<div class = "TransactionForm">
    <form>

        <p>Please select your account.</p>
        <!-- A List showing accounts that the user can click goes here. -->
        <br>

        <p>Please select your type of transaction.</p>
        <input type = "radio" id = "deposit">
        <label for = "deposit">Deposit</label><br>
        <input type = "radio" id = "withdrawal">
        <label for = "withdrawal">Withdraw</label><br>
        
        <br>

        <p>Please select your amount.</p>
        <label>Amount: </label>
        <input type = "text">
    </form>
</div>